/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animatino-duration: 0.3s; /* 0.3s가 가장 적당한 시간 */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Typography = 패딩과 텍스트에 대해 먼저 스타일링 테스트 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: flex;
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  /* 중복을 피할 수 있다 */
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  /* border-radius: var(--size-border-radius); */
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
  /* border-radius: var(--size-border-radius); */
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  text-align: center;
  padding: 40px;
}

.home__avatar {
  width: 200px;
  height: 200px;
}

.home__title {
  background: url("imgs/title-background.png") center/contain no-repeat;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  border: 2px var(--color-white) solid;
  border-radius: var(--size-border-radius);
}

/* Section common */
section {
  padding: 50px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  font-size: 70px;
  line-height: 170px;
  color: var(--color-blue);
  margin-bottom: 16px;
}

.major__icon i {
  transition: all 0.3s ease;
}

.major__icon:hover i {
  transform: rotate(360deg) scale(1.2);
  color: var(--color-dark-grey);
}

.major__title {
  color: var(--color-dark-grey);
}

.about__study {
  display: flex;
  text-align: left;
}

.study__description {
  margin: 0 16px;
}

.study__name,
.study__period {
  color: var(--color-dark-grey);
}

.study__name {
  font-size: var(--font-small);
}

.study__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.section__container {
  padding: 50px;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
}

.skillset__title {
  color: white;
}

.skill {
  margin-bottom: 8px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 15px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: var(--color-dark-white) 2px solid;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px 8px 72px;
  transition: all var(--animatino-duration) ease;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-orange);
  border-radius: 50%;
  line-height: 24px;
  color: var(--color-white);
  position: relative;
  opacity: 0;
  top: -20px;
  left: 4px;
  transition: all var(--animatino-duration) ease-in;
}

.work__proejects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animatino-duration) ease-in-out;
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  position: relative;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  margin-top: 5px;
  opacity: 0;
  transition: all var(--animatino-duration) ease-in-out;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project:hover .project__description h3:after {
  opacity: 1;
  bottom: 0;
}
